Database Properties
#driver=org.apache.derby.jdbc.ClientDataSource
#connectionProperties=Password=APP:User=APP:serverName=localhost:DatabaseName=ids:connectionAttributes=";"create"'"="'"true

driver=com.mysql.jdbc.jdbc2.optional.MysqlDataSource
connectionProperties=user=ids:password=secret:databaseName=ids

#driver=oracle.jdbc.pool.OracleDataSource
#connectionProperties=url="'"jdbc:oracle:thin:@//localhost:1521/XE"'":ImplicitCachingEnabled=true:MaxStatements=200:user=ids:password=password 

# Glasfish home, must contain "glassfish/domains"
#
glassfish=/home/fisher/pf/glassfish3


# Glassfish admin port (normally 4848)
#
port=4848

# Any libraries needed (space separated list of jars in domain's lib/applibs
libraries=ids.storage_file*.jar
