# slow storage
slow.storageZipDir = /home/fisher/icat/icatarchive/

# fast storage

# contains zipped datasets restored from the slow storage
fast.storageZipDir = /home/fisher/icat/icatzipdata/

# contains unpacked datafiles from restored datasets
fast.storageDir = /home/wojtek/fisher/icatdata/

# contains zips prepared for users to download (results of /prepareData)
fast.storagePreparedDir = /home/fisher/icat/icatprepareddata/