# General properties
icat.url = https://smfisher.esc.rl.ac.uk:8181

plugin.zipMapper.class = org.icatproject.ids.storage.ZipMapper

plugin.main.class = org.icatproject.ids.storage.MainFileStorage
plugin.main.properties = ids.storage_file.main.properties

cache.dir = ../data/ids/cache
preparedCount = 10000
processQueueIntervalSeconds = 5
rootUserNames = root
sizeCheckIntervalSeconds = 60
reader = db username root password password
!readOnly = true
maxIdsInQuery = 1000

# Properties for archive storage
plugin.archive.class = org.icatproject.ids.storage.ArchiveFileStorage
plugin.archive.properties = ids.storage_file.archive.properties
writeDelaySeconds = 60
startArchivingLevel1024bytes = 5000000
stopArchivingLevel1024bytes =  4000000
storageUnit = dataset
tidyBlockSize = 500

# File checking properties
filesCheck.parallelCount = 5
filesCheck.gapSeconds = 5
filesCheck.lastIdFile = ../data/ids/lastIdFile
filesCheck.errorLog = ../data/ids/errorLog

# Link properties
linkLifetimeSeconds = 3600