# The URL pointing to a running ICAT eg. http://example.com:8080/ICATService/ICAT?wsdl
# The /ICATService/ICAT?wsdl suffix is optional
icat.url = https://smfisher.esc.rl.ac.uk:8181

writeDelaySeconds = 60
processQueueIntervalSeconds = 2

# How long a download request will remaining in the database. After this time the entry 
# will automatically be removed from the database as well as associated ZIP files.
requestExpireTimeDays = 7

# How long files will stay in LOCAL_STORAGE_PATH. This has no effect using using storage
# type LOCAL.
# TODO change to space constraint instead of time constraint
# NUMBER_OF_DAYS_TO_KEEP_FILES_IN_CACHE = 30

# Canonical name of the classes implementing the StorageInterface.
# If the plugin.archive property is omitted a single storage model will be used. 
# For each class the configuration file must also be specified.
plugin.main.class = org.icatproject.ids.storage.FileStorage
plugin.main.properties = ids.storage_file.main.properties

plugin.archive.class = org.icatproject.ids.storage.FileStorage
plugin.archive.properties = ids.storage_file.archive.properties

# A directory, where temporary files are placed
tmpDir = /home/fisher/icat/servertmp/