# General properties
icat.url = https://smfisher.esc.rl.ac.uk:8181

plugin.zipMapper.class = org.icatproject.ids.storage.ZipMapper

plugin.main.class = org.icatproject.ids.storage.MainFileStorage
plugin.main.dir = ${HOME}/ids/main/

cache.dir = ${HOME}/ids/cache
preparedCount = 10000
processQueueIntervalSeconds = 5
rootUserNames = root
sizeCheckIntervalSeconds = 60
reader = db username root password password
!readOnly = true
maxIdsInQuery = 1000
# Note that useReaderForPerformance has implications on access
# permissions.  Read the installation instructions before enabling
# this!
!useReaderForPerformance = true

# Properties for archive storage
plugin.archive.class = org.icatproject.ids.storage.ArchiveFileStorage
plugin.archive.dir = ${HOME}/ids/archive/
delayDatasetWritesSeconds = 60
delayDatafileOperationsSeconds = 60
startArchivingLevel1024bytes = 5000000
stopArchivingLevel1024bytes =  4000000
storageUnit = dataset
tidyBlockSize = 500
maxRestoresPerThread = 100000
!enableWrite = true

# File checking properties
filesCheck.parallelCount = 5
filesCheck.gapSeconds = 5
filesCheck.lastIdFile = ${HOME}/ids/lastIdFile
filesCheck.errorLog = ${HOME}/ids/errorLog

# Link properties
linkLifetimeSeconds = 3600

# JMS Logging
log.list = READ WRITE INFO LINK MIGRATE PREPARE

# JMS - uncomment and edit if needed
!jms.topicConnectionFactory = java:comp/DefaultJMSConnectionFactory