# ICAT properties
icat.url = https://www.example.com:8181
!rootUserNames = root
reader = db username root password password
# Note that useReaderForPerformance has implications on access permissions. 
# Read the installation instructions before enabling this!
!useReaderForPerformance = true

# Main and Archive storage properties
plugin.main.class = uk.ac.stfc.storaged.MainSDStorage
plugin.main.dir = ${HOME}/ids/main/
plugin.archive.class = org.icatproject.ids.storage.ArchiveSDStorageV2
plugin.archive.uri = //fdsstoragedXX.fds.rl.ac.uk:7456
plugin.archive.connectionTimeout = 10000
plugin.archive.readTimeout = 28800000
maxRestoresPerThread = 100000
plugin.zipMapper.class = org.icatproject.ids.storage.ZipMapper
!missingFilesZipEntryName = path/to/FILENAME.txt

# Cache directory properties
cache.dir = ${HOME}/ids/cache
preparedCount = 10000
completedCount = 10000
failedFilesCount = 10000

# Tidier properties
sizeCheckIntervalSeconds = 60
startArchivingLevel1024bytes = 5000000
stopArchivingLevel1024bytes =  4000000
