# Glassfish/Payara
secure         = true
container      = Glassfish
home           = /home/glassfish/payara
port           = 4848

# WildFly
!secure         = false
!container      = JBoss
!home           = /home/glassfish/wildfly
!port           = 9990
