<?xml version="1.0" encoding="UTF-8"?>
<document xmlns="http://maven.apache.org/XDOC/2.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/XDOC/2.0 http://maven.apache.org/xsd/xdoc-2.0.xsd">

    <properties>
        <title>IDS Installation</title>
    </properties>

    <body>

        <section name="Installation">

<!--             <subsection name="Compatibility">This authentication plugin will work with an ICAT version of 4.3 or greater.</subsection> -->

<!--             <subsection name="Prerequisites"> -->

<!--                 <ul> -->
<!--                     <li> -->
<!--                         The authn_db distribution: -->
<!--                         <a href="${repoUrl}/org/icatproject/authn_db.ear/${project.version}/authn_db.ear-${project.version}-distro.zip">authn_db.ear-${project.version}-distro.zip</a> -->
<!--                     </li> -->
<!--                     <li> -->
<!--                         A suitable deployed container (here assumed to be glassfish though tomcat should be sufficient) to support a web -->
<!--                         application. -->
<!--                         Testing has been carried out with Glassfish 3.1.2. -->
<!--                         <a href="https://code.google.com/p/icatproject/wiki/Glassfish">Glassfish installation instructions</a> -->
<!--                         are available. -->
<!--                     </li> -->
<!--                     <li> -->
<!--                         A database as described in -->
<!--                         <a href="https://code.google.com/p/icatproject/wiki/Databases">Database installation instructions</a> -->
<!--                         installed on the server -->
<!--                     </li> -->

<!--                     <li> -->
<!--                         Python (version 2.4 to 2.7) installed on the server. -->
<!--                     </li> -->
<!--                 </ul> -->
<!--             </subsection> -->

<!--             <subsection name="Summary of steps"> -->
<!--                 <ol> -->
<!--                     <li> -->
<!--                         Please follow -->
<!--                         <a href="http://code.google.com/p/icatproject/wiki/Installation"> the generic installation instructions</a> -->
<!--                     </li> -->
<!--                     <li> Update the icat.properties file for icat to see the authenticator.</li> -->
<!--                     <li>Add users</li> -->
<!--                     <li>Check that it works.</li> -->
<!--                 </ol> -->
<!--             </subsection> -->

<!--             <subsection name="The authn_db.setup.properties file"> -->

<!--                 <dl> -->
<!--                     <dt>driver</dt> -->
<!--                     <dd>is the name of the jdbc driver and must match the jar file for your database that you stored in the previous step.</dd> -->
<!--                     <dt>authn_dbProperties</dt> -->
<!--                     <dd>identifies the password database and how to connect to it.</dd> -->
<!--                     <dt>glassfish</dt> -->
<!--                     <dd>is the top level of the glassfish installation. It must contain "glassfish/domains", and will be referred to here as -->
<!--                         GLASSFISH_HOME as if an environment variable had been set. -->
<!--                     </dd> -->
<!--                     <dt>port</dt> -->
<!--                     <dd>is the administration port of the chosen glassfish domain which is typically 4848.</dd> -->
<!--                 </dl> -->

<!--                 <p>For a local oracle-xe installation the following values of driver, authn_dbProperties should be good except for -->
<!--                     the user and -->
<!--                     password values: -->
<!--                 </p> -->
<!--                 <code> -->
<!--                     driver=oracle.jdbc.pool.OracleDataSource -->
<!--                     <br /> -->
<!--                     authn_dbProperties=url="'"jdbc:oracle:thin:@//localhost:1521/XE"'":ImplicitCachingEnabled=true:MaxStatements=200:user=authn_db:password=secret -->
<!--                     <br /> -->
<!--                 </code> -->
<!--                 <p> -->
<!--                     Note the -->
<!--                     <tt>"'"</tt> -->
<!--                     which is needed because the url contains colons which also separate individual properties. -->
<!--                 </p> -->
<!--                 <p>For MySQL:</p> -->
<!--                 <code> -->
<!--                     driver=com.mysql.jdbc.jdbc2.optional.MysqlDataSource -->
<!--                     <br /> -->
<!--                     authn_dbProperties=user=icat:password=secret:databaseName=authn_db -->
<!--                     <br /> -->
<!--                 </code> -->
<!--             </subsection> -->


<!--             <subsection name="The authn_db.properties file"> -->


<!--                 <dl> -->
<!--                     <dt>ip</dt> -->
<!--                     <dd>If access to the DB authentication should only be allowed from certain -->
<!--                         IP addresses then provide a space separated list of -->
<!--                         allowed values. These -->
<!--                         take the form of an IPV4 or IPV6 address followed by the number of bits -->
<!--                         (starting from the most -->
<!--                         significant) to consider. -->
<!--                     </dd> -->

<!--                     <dt>mechanism</dt> -->
<!--                     <dd>if specified is a label to appear before the user name as it is made available to ICAT for authorization. For example if this -->
<!--                         is set to 'db' then the user 'root' will be provided to ICAT as 'db/root', but of no mechanism is specified it will be -->
<!--                         provided simply as 'root'. -->
<!--                     </dd> -->
<!--                 </dl> -->

<!--             </subsection> -->

<!--             <subsection name="Update the icat.properties file for your ICAT"> -->
<!--                 <p>This is required for icat to see the new authenticator. As any earlier version of this authenticator will have -->
<!--                     been removed then it -->
<!--                     is important to perform this next step promptly. -->
<!--                 </p> -->
<!--                 <p> -->
<!--                     If you still have the installation directory for icat then edit the icat.properties to refer to the new authenticator and type: -->
<!--                     <tt>./setup install</tt> -->
<!--                     Otherwise edit the icat.properties file in the config directory for your domain and restart the glassfish domain. -->
<!--                 </p> -->

<!--             </subsection> -->

<!--             <subsection name="Add users">Users should be added by manually adding them to the database table PASSWD. This has two columns, one for the -->
<!--                 username and one for the password. The password may be entered as clear text without a leading &quot;$&quot; or a cryptographic -->
<!--                 hash of -->
<!--                 a password may be -->
<!--                 stored. -->
<!--                 A password hash must start with a &quot;$&quot; character -->
<!--                 and be in the same form as found in the shadow(5) -->
<!--                 password -->
<!--                 file. It -->
<!--                 may be created using the mkpasswd(1) utility on -->
<!--                 Debian systems or grub-crypt on -->
<!--                 Red Hat derived systems or the python -->
<!--                 crypt -->
<!--                 module. The supported hash -->
<!--                 algorithms are MD5, SHA-256, and SHA-512. -->
<!--             </subsection> -->

<!--             <subsection name="Check that authn_db works"> -->
<!--                 <p>Use testicat (which is installed with ICAT) with one of the entries in the database PASSWD table. It should report that it logs in -->
<!--                     but may or may not have the permission to run the rest of the test. If it does not report that it has logged in then please check -->
<!--                     the server.log and the -->
<!--                     authn_db.log files which can both be found in the logs directory below your domain. -->
<!--                 </p> -->
<!--             </subsection> -->

        </section>
    </body>
</document>
            
