ids.url=https://smfisher:8181

glassfish=/home/fisher/pf/glassfish4

# These credentials must have permission to read and download
# the dataset and datafiles specified below.
authorizedIcatUsername=root
authorizedIcatPassword=password

# These credentials must NOT have permission to read and download
# the dataset and datafiles below (but they have to be a valid username/password pair)
unauthorizedIcatUsername=guest
unauthorizedIcatPassword=guess

# folder, where files should be downloaded to and uploaded from
updownDir = /home/fisher/icat/updown
