name: CI Build
on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - master

jobs:
  build_and_tests:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        java_version: [11, 17]

    steps:
      # Setup Java & Python
      - name: Setup Java
        uses: actions/setup-java@3f07048e3d294f56e9b90ac5ea2c6f74e9ad0f98 # v3.10.0
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.java_version }}

      - name: Cache local Maven repository
        uses: actions/cache@69d9d449aced6a2ede0bc19182fadc3a0a42d2b0 # v3.2.6
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: Run apt-get update
        run: sudo apt-get update

      # ICAT Ansible clone and install dependencies
      - name: Checkout icat-ansible
        uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c # v3.3.0
        with:
          repository: icatproject-contrib/icat-ansible
          path: icat-ansible
          ref: master
      - name: Install Ansible
        run: pip install -r icat-ansible/requirements.txt

      # Prep for running the playbook
      - name: Create Hosts File
        run: echo -e "[icat_server_dev_hosts]\nlocalhost ansible_connection=local" > icat-ansible/hosts
      - name: Prepare vault pass
        run: echo -e "icattravispw" > icat-ansible/vault_pass.txt
      - name: Move vault to directory it'll get detected by Ansible
        run: mv icat-ansible/vault.yml icat-ansible/group_vars/all
      - name: Replace default payara user with Actions user
        run: |
          sed -i -e "s/^payara_user: \"glassfish\"/payara_user: \"runner\"/" icat-ansible/group_vars/all/vars.yml
      - name: Add Ansible roles
        run: |
          sed -i "s/- role: icat_lucene/- role: icat_server\\
          \    - role: ids_storage_file/g" icat-ansible/icat_server_dev_hosts.yml

      # Force hostname to localhost - bug fix for previous ICAT Ansible issues on Actions
      - name: Change hostname to localhost
        run: sudo hostname -b localhost

      # Remove existing MySQL installation so it doesn't interfere with GitHub Actions
      - name: Remove existing mysql
        run: |
          sudo apparmor_parser -R /etc/apparmor.d/usr.sbin.mysqld
          sudo apt-get remove --purge "mysql*"
          sudo rm -rf /var/lib/mysql* /etc/mysql

      # Create local instance of ICAT
      - name: Run ICAT Ansible Playbook
        run: |
          ansible-playbook icat-ansible/icat_server_dev_hosts.yml -i icat-ansible/hosts --vault-password-file icat-ansible/vault_pass.txt -vv

      # Prep for the integration tests
      - name: Checkout ids-storage-test
        uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c # v3.3.0
        with:
          repository: icatproject/ids.storage_test
          path: ids.storage_test
          ref: master
      - name: Install ids-storage-test
        run: |
          cd ids.storage_test
          mvn package
          unzip target/ids.storage_test-*.zip
          cd ids.storage_test
          cp properties.example setup.properties
          sed -i 's+home=/home/fisher/pf/glassfish4+home='"$(realpath /home/runner/payara*)+g" setup.properties
          ./setup -vv install

      - name: Checkout ids-server
        uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c # v3.3.0

      # Payara must be sourced otherwise the Maven build command fails
      - name: Run Build
        run: |
          grep payara ~/.bash_profile > payara_path_command
          source payara_path_command
          mvn install -B -DskipTests

      - name: Run Unit Tests
        run: mvn test -B

      # failsafe:integration-test to run the integration tests
      # failsafe:verify required to check for test failures
      - name: Run Integration Tests
        run: mvn failsafe:integration-test failsafe:verify -B

      - name: After Failure
        if: ${{ failure() }}
        run: |
          cat /home/runner/logs/ids.log
          cat /home/runner/logs/icat.log
          cat /home/runner/payara*/glassfish/domains/domain1/logs/server.log
